/** Fonts **/
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Black.eot");
  src: url("../assets/fonts/Urbanist-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Black.woff2") format("woff2"), url("../assets/fonts/Urbanist-Black.woff") format("woff"), url("../assets/fonts/Urbanist-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-BoldItalic.eot");
  src: url("../assets/fonts/Urbanist-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-BoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-BlackItalic.eot");
  src: url("../assets/fonts/Urbanist-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-BlackItalic.woff") format("woff"), url("../assets/fonts/Urbanist-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Bold.eot");
  src: url("../assets/fonts/Urbanist-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Bold.woff2") format("woff2"), url("../assets/fonts/Urbanist-Bold.woff") format("woff"), url("../assets/fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-LightItalic.eot");
  src: url("../assets/fonts/Urbanist-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-LightItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-LightItalic.woff") format("woff"), url("../assets/fonts/Urbanist-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraLight.eot");
  src: url("../assets/fonts/Urbanist-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraLight.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Light.eot");
  src: url("../assets/fonts/Urbanist-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Light.woff2") format("woff2"), url("../assets/fonts/Urbanist-Light.woff") format("woff"), url("../assets/fonts/Urbanist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Thin.eot");
  src: url("../assets/fonts/Urbanist-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Thin.woff2") format("woff2"), url("../assets/fonts/Urbanist-Thin.woff") format("woff"), url("../assets/fonts/Urbanist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-MediumItalic.eot");
  src: url("../assets/fonts/Urbanist-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-MediumItalic.woff") format("woff"), url("../assets/fonts/Urbanist-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-SemiBold.eot");
  src: url("../assets/fonts/Urbanist-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-SemiBold.woff2") format("woff2"), url("../assets/fonts/Urbanist-SemiBold.woff") format("woff"), url("../assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraLightItalic.eot");
  src: url("../assets/fonts/Urbanist-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Regular.eot");
  src: url("../assets/fonts/Urbanist-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Regular.woff2") format("woff2"), url("../assets/fonts/Urbanist-Regular.woff") format("woff"), url("../assets/fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ThinItalic.eot");
  src: url("../assets/fonts/Urbanist-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ThinItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ThinItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-SemiBoldItalic.eot");
  src: url("../assets/fonts/Urbanist-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraBoldItalic.eot");
  src: url("../assets/fonts/Urbanist-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraBold.eot");
  src: url("../assets/fonts/Urbanist-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraBold.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Italic.eot");
  src: url("../assets/fonts/Urbanist-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Italic.woff2") format("woff2"), url("../assets/fonts/Urbanist-Italic.woff") format("woff"), url("../assets/fonts/Urbanist-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Medium.eot");
  src: url("../assets/fonts/Urbanist-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Medium.woff2") format("woff2"), url("../assets/fonts/Urbanist-Medium.woff") format("woff"), url("../assets/fonts/Urbanist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BlackItalic.eot");
  src: url("../assets/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BlackItalic.woff") format("woff"), url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.eot");
  src: url("../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.eot");
  src: url("../assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff"), url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.eot");
  src: url("../assets/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-LightItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-LightItalic.woff") format("woff"), url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.eot");
  src: url("../assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.eot");
  src: url("../assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black.woff") format("woff"), url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.eot");
  src: url("../assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light.woff") format("woff"), url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.eot");
  src: url("../assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/Roboto-Thin.woff") format("woff"), url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.eot");
  src: url("../assets/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BoldItalic.woff") format("woff"), url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
/** Helpers **/
/** Base **/
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Black.eot");
  src: url("../assets/fonts/Urbanist-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Black.woff2") format("woff2"), url("../assets/fonts/Urbanist-Black.woff") format("woff"), url("../assets/fonts/Urbanist-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-BoldItalic.eot");
  src: url("../assets/fonts/Urbanist-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-BoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-BlackItalic.eot");
  src: url("../assets/fonts/Urbanist-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-BlackItalic.woff") format("woff"), url("../assets/fonts/Urbanist-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Bold.eot");
  src: url("../assets/fonts/Urbanist-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Bold.woff2") format("woff2"), url("../assets/fonts/Urbanist-Bold.woff") format("woff"), url("../assets/fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-LightItalic.eot");
  src: url("../assets/fonts/Urbanist-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-LightItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-LightItalic.woff") format("woff"), url("../assets/fonts/Urbanist-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraLight.eot");
  src: url("../assets/fonts/Urbanist-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraLight.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Light.eot");
  src: url("../assets/fonts/Urbanist-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Light.woff2") format("woff2"), url("../assets/fonts/Urbanist-Light.woff") format("woff"), url("../assets/fonts/Urbanist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Thin.eot");
  src: url("../assets/fonts/Urbanist-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Thin.woff2") format("woff2"), url("../assets/fonts/Urbanist-Thin.woff") format("woff"), url("../assets/fonts/Urbanist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-MediumItalic.eot");
  src: url("../assets/fonts/Urbanist-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-MediumItalic.woff") format("woff"), url("../assets/fonts/Urbanist-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-SemiBold.eot");
  src: url("../assets/fonts/Urbanist-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-SemiBold.woff2") format("woff2"), url("../assets/fonts/Urbanist-SemiBold.woff") format("woff"), url("../assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraLightItalic.eot");
  src: url("../assets/fonts/Urbanist-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Regular.eot");
  src: url("../assets/fonts/Urbanist-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Regular.woff2") format("woff2"), url("../assets/fonts/Urbanist-Regular.woff") format("woff"), url("../assets/fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ThinItalic.eot");
  src: url("../assets/fonts/Urbanist-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ThinItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ThinItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-SemiBoldItalic.eot");
  src: url("../assets/fonts/Urbanist-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraBoldItalic.eot");
  src: url("../assets/fonts/Urbanist-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-ExtraBold.eot");
  src: url("../assets/fonts/Urbanist-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Urbanist-ExtraBold.woff") format("woff"), url("../assets/fonts/Urbanist-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Italic.eot");
  src: url("../assets/fonts/Urbanist-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Italic.woff2") format("woff2"), url("../assets/fonts/Urbanist-Italic.woff") format("woff"), url("../assets/fonts/Urbanist-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist-Medium.eot");
  src: url("../assets/fonts/Urbanist-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Urbanist-Medium.woff2") format("woff2"), url("../assets/fonts/Urbanist-Medium.woff") format("woff"), url("../assets/fonts/Urbanist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BlackItalic.eot");
  src: url("../assets/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BlackItalic.woff") format("woff"), url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.eot");
  src: url("../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.eot");
  src: url("../assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff"), url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.eot");
  src: url("../assets/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-LightItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-LightItalic.woff") format("woff"), url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.eot");
  src: url("../assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.eot");
  src: url("../assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black.woff") format("woff"), url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.eot");
  src: url("../assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light.woff") format("woff"), url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.eot");
  src: url("../assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/Roboto-Thin.woff") format("woff"), url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.eot");
  src: url("../assets/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Roboto-BoldItalic.woff") format("woff"), url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #080808;
  font-family: "Roboto", serif;
}

.container {
  max-width: 82.1875rem;
}

.btn.btn-primary {
  border-radius: 3.125rem;
  padding: 0.9375rem 1.875rem;
  font-weight: 700;
  line-height: 1.1;
  background-color: #146EF5;
}

.btn.btn-primary--black {
  background-color: #080808;
  border: 2px solid #080808;
}

.btn.btn-primary--black:hover {
  border: 2px solid #080808;
  background-color: #FFFFFF;
  color: #080808;
}

.btn.btn-primary--white {
  background-color: white;
  border: 2px solid #080808;
  color: #080808;
  margin: 0rem 1.25rem 0rem 0.625rem;
}

.btn.btn-primary--white:hover {
  background-color: #080808;
  border: 2px solid #080808;
  color: #FFFFFF;
}

.btn:hover, btn-primary:hover {
  transition-duration: 0.3s;
  background-color: #1354A9;
}

.btn.btn-link {
  font-weight: 900;
  font-size: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #080808;
  padding: 0;
}
.btn.btn-link .btn-icon {
  padding-right: 1.0625rem;
}

.btn.btn-link:hover {
  transition-duration: 0.3s;
  background-color: transparent;
  color: #146EF5;
}

.image {
  width: 100%;
}

.nav {
  font-size: 1rem;
}

.headline {
  font-family: "Urbanist", serif;
  font-size: 3.4375rem;
  font-weight: 900;
  color: #080808;
  line-height: 1.18;
}

.text {
  font-family: "Roboto", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #080808;
}

@media only screen and (min-width: 62rem) {
  .headline {
    font-size: 5rem;
  }
  .text {
    font-family: "Roboto", serif;
    font-size: 1.125rem;
    line-height: 1.66;
  }
}
/** Components**/
.header .container-fluid {
  padding: 0;
}
.header__left {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 62rem) {
  .header__left {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.header__left .btn.btn-primary.btn-primary--white {
  margin: 0 0 1.25rem 0;
}
@media only screen and (min-width: 62rem) {
  .header__left .btn.btn-primary.btn-primary--white {
    margin: 0rem 1.25rem 0rem 0.625rem;
  }
}
.header__left .btn {
  width: fit-content;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 62rem) {
  .header__left .btn {
    margin-bottom: 0;
  }
}
.header .nav-link,
.header .nav-link.dropdown-toggle,
.header .nav-item.dropdown {
  font-size: 1rem;
  font-weight: 600;
  color: #080808;
}
.header .nav-link:hover,
.header .nav-link.dropdown-toggle:hover,
.header .nav-item.dropdown:hover {
  transition-duration: 0.3s;
  color: #146EF5;
}
.header .nav-item.dropdown {
  list-style: none;
}
.header .nav-item.dropdown:hover > .nav-link {
  transition-duration: 0.3s;
  color: #146EF5;
}
.header .nav-item {
  padding: 0 0.5rem;
}
.header .dropdown-toggle::after {
  top: 1rem;
  right: -1px;
  position: absolute;
  background-image: url("../assets/images/nav-icon.svg");
  flex-shrink: 0;
  vertical-align: -0.0625rem;
  width: 0.75rem;
  height: 0.625rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 0.75rem;
  transition: url("../assets/images/nav-icon.svg");
  border: none;
}
.header__lg, .header__list-lg {
  font-size: 1rem;
  color: #080808;
  text-transform: uppercase;
}
.header__lg-wrap {
  align-items: center;
  padding-left: 0;
  justify-content: flex-start;
}
@media only screen and (min-width: 62rem) {
  .header__lg-wrap {
    justify-content: center;
  }
}
.header__lg-wrap .dropdown-toggle::after {
  top: 8px;
  right: -9px;
  display: none;
}
@media only screen and (min-width: 62rem) {
  .header__lg-wrap .dropdown-toggle::after {
    justify-content: center;
    display: block;
  }
}
.header__list-lg {
  display: flex;
  padding-left: 0.4375rem;
}
.header .navbar {
  padding: 1.5625rem 0rem;
}
@media only screen and (min-width: 62rem) {
  .header .navbar-brand {
    margin-right: 3.75rem;
  }
}

.hero {
  padding-top: 2.1875rem;
}
.hero__headline {
  margin-bottom: 0.625rem;
}
.hero__text {
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 62rem) {
  .hero__text {
    max-width: 35.625rem;
    margin-bottom: 2.5rem;
  }
}
.hero__image {
  width: 100%;
}
@media only screen and (min-width: 62rem) {
  .hero__image {
    width: 100%;
    max-width: 34.375rem;
  }
}
@media only screen and (min-width: 62rem) {
  .hero__text-wrap {
    padding-top: 5rem;
  }
}

.section-one {
  margin-top: 2.5rem;
  background: linear-gradient(0deg, #F1FAFF 0%, #FFFFFF 100%);
  padding-bottom: 3.75rem;
}
@media only screen and (min-width: 62rem) {
  .section-one {
    padding-bottom: 7.5rem;
  }
}
.section-one__row {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-one__text {
  font-weight: 800;
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-bottom: 0.3125rem;
}
.section-one__author {
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.section-one__author--signature {
  font-weight: 500;
}
@media only screen and (min-width: 87.5rem) {
  .section-one__right, .section-one__wrapper {
    width: 34.375rem;
  }
}
.section-one__wrapper {
  margin-top: 2.5rem;
  border-radius: 0.3125rem;
  background-color: #FFFFFF;
  padding: 2.8125rem 2.5rem;
}
@media only screen and (min-width: 62rem) {
  .section-one__wrapper {
    margin-top: 0;
  }
}
.section-one__image {
  padding: 0.625rem;
  width: 100%;
}
@media only screen and (min-width: 62rem) {
  .section-one__image {
    padding: 0 0.3125rem;
  }
  .section-one__image__image:first-child {
    padding-left: 1rem;
  }
  .section-one__image__image:last-child {
    padding-right: 1rem;
  }
}

.section-two {
  padding: 7.5rem 0rem 10rem;
}
.section-two .image {
  margin-bottom: 7.5rem;
}
.section-two__headline {
  margin-bottom: 2.5rem;
}
.section-two__text {
  margin-bottom: 5rem;
}
.section-two__text--additionally {
  margin-bottom: 3.75rem;
}

.section-three {
  background: linear-gradient(180deg, #F1FAFF 0%, #FFFFFF 100%);
  padding: 7.5rem 0rem 0rem;
}
.section-three__headline {
  margin-bottom: 5rem;
}
.section-three .image {
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 62rem) {
  .section-three .image {
    margin-bottom: 0;
  }
}
.section-three__row {
  margin-bottom: 10rem;
}
.section-three__title {
  font-family: "Urbanist", serif;
  font-size: 1.875rem;
  line-height: 1.17;
  margin-bottom: 1.875rem;
}
.section-three__text {
  margin-bottom: 0;
}
@media only screen and (min-width: 62rem) {
  .section-three__title {
    font-family: "Urbanist", serif;
    font-size: 2.125rem;
  }
  .section-three__text-wrap {
    max-width: 32.5rem;
  }
}

.section-four {
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  background-color: #080808;
}
.section-four .blur-overlay {
  position: absolute;
  top: -564px;
  left: 50%;
  transform: translateX(-50%);
  width: 1128px;
  height: 1128px;
  max-width: 1128px;
  width: 100%;
  background: radial-gradient(circle, rgb(20, 110, 245) -50%, rgba(20, 110, 245, 0) 60%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}
.section-four__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 62rem) {
  .section-four__wrapper {
    padding: 0 0 0 2.5rem;
    display: block;
    margin-bottom: 0;
  }
}
.section-four__headline {
  color: #FFFFFF;
  margin-bottom: 8.125rem;
}
.section-four__title {
  color: #FFFFFF;
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}
.section-four__text {
  color: #FFFFFF;
  opacity: 70%;
  line-height: 1.7;
}
.section-four__image-wrap {
  border: 3px solid rgba(255, 255, 255, 0.1019607843);
  width: 11.875rem;
  height: 12.5rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-four__icon {
  width: 5rem;
}
.section-four__image-number {
  background-color: #146EF5;
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 900;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  position: absolute;
  top: -1.875rem;
  left: -1.875rem;
}
.section-four__row {
  margin-bottom: 7.5rem;
}

.section-five {
  padding: 7.5rem 0rem;
}
.section-five__headline {
  margin-bottom: 2.5rem;
}
.section-five__text {
  margin-bottom: 6.25rem;
}
.section-five__image {
  width: 100%;
}
@media only screen and (min-width: 62rem) {
  .section-five__image {
    max-width: 25.625rem;
  }
}
.section-five__wrapper {
  margin-bottom: 7.5rem;
}

.section-six {
  padding: 7.5rem 0rem 10rem;
  background-color: #F1FAFF;
}
.section-six__list-secondary {
  margin: 2.5rem 0 0;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.section-six__item-secondary-img {
  width: 100%;
  padding: 0 1.25rem;
}
.section-six__headline {
  font-size: 2.1875rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 62rem) {
  .section-six__headline {
    font-size: 2.5rem;
  }
}
.section-six__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.section-six--desk {
  display: none;
}
@media only screen and (min-width: 62rem) {
  .section-six--desk {
    display: block;
  }
}
.section-six--mobile {
  display: block;
}
@media only screen and (min-width: 62rem) {
  .section-six--mobile {
    display: none;
  }
}
.section-six .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-six .swiper {
  margin-bottom: 3.125rem;
}
.section-six .swiper-wrapper {
  margin-bottom: 3.75rem;
}
.section-six .swiper-img {
  max-height: 5.8125rem;
}

.section-seven {
  padding: 7.5rem 0rem 10rem;
}
@media only screen and (min-width: 62rem) {
  .section-seven .accordion-button {
    padding: 1.875rem;
  }
}
.section-seven__headline {
  margin-bottom: 4.375rem;
}
.section-seven .accordion-button {
  font-size: 1.25rem;
  font-weight: 600;
}
@media only screen and (min-width: 62rem) {
  .section-seven .accordion-button {
    font-size: 1.5rem;
  }
}
.section-seven .accordion-body {
  font-size: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 62rem) {
  .section-seven .accordion-body {
    max-width: 45.3125rem;
    padding: 0rem 1.875rem 3.125rem 1.875rem;
  }
}
.section-seven .accordion-button:not(.collapsed)::after {
  background-size: 0.875rem;
  background-image: url("../assets/images/fq-m.svg");
  transform: url("../assets/images/faq-p.svg");
  height: 0.3125rem;
  margin-right: 0.375rem;
}
.section-seven .accordion-item {
  border: none;
  border-bottom: 1px solid #B3C0D3;
}
.section-seven .accordion-item:last-child {
  border: none;
}
.section-seven .accordion-button:not(.collapsed) {
  color: #080808;
  box-shadow: none;
}
.section-seven .accordion-item:first-of-type > .accordion-header .accordion-button {
  border: none;
}
.section-seven .accordion-button:not(.collapsed) {
  border: none;
  background-color: #FFFFFF;
}
.section-seven .accordion-button::after {
  background-size: 0.875rem;
  background-image: url("../assets/images/faq-p.svg");
  transform: url("../assets/images/fq-m.svg");
}

.footer {
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  background-color: #080808;
}
.footer .blur-overlay {
  display: none;
  position: absolute;
  top: -564px;
  left: 10%;
  transform: translateX(-50%);
  width: 1128px;
  height: 1128px;
  max-width: 1128px;
  width: 100%;
  background: radial-gradient(circle, rgb(20, 110, 245) -50%, rgba(20, 110, 245, 0) 60%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}
@media only screen and (min-width: 62rem) {
  .footer .blur-overlay {
    display: block;
  }
}
.footer__title {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: "Urbanist", serif;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 3.75rem;
}
@media only screen and (min-width: 62rem) {
  .footer__title {
    font-size: 3.75rem;
    max-width: 46.25rem;
  }
}
.footer .btn {
  margin-bottom: 3.75rem;
}
.footer__card {
  display: flex;
  align-items: center;
}
.footer__card-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.125rem 0.4375rem;
}
.footer__headline {
  margin-top: 2.5rem;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  font-family: "Urbanist", serif;
  font-weight: 700;
  margin-bottom: 1.75rem;
}
@media only screen and (min-width: 62rem) {
  .footer__headline {
    margin-top: 0;
  }
}
.footer .nav-link {
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  line-height: 1.57;
}
.footer .nav-link:hover {
  transition-duration: 0.3s;
  color: white;
}
@media only screen and (min-width: 62rem) {
  .footer__col-left {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.footer__lg {
  flex: 1rem;
  font-family: "Urbanist", serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.footer .text-center {
  font-family: "Urbanist", serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer__link {
  font-size: 1rem;
  font-family: "Urbanist", serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  text-transform: uppercase;
}
.footer__link-a {
  font-size: 1rem;
  font-family: "Urbanist", serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  text-decoration: none;
}
.footer__link-a:hover {
  color: #FFFFFF;
  transition-duration: 0.3s;
}
.footer__bottom {
  margin-top: 7.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3.75rem 0rem 1.875rem;
}
.footer__nav-title {
  font-family: "Urbanist", serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
@media only screen and (min-width: 62rem) {
  .footer__nav-title--last {
    height: 1.25rem;
  }
}

/*# sourceMappingURL=main.css.map */
