<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="section-two__headline headline text-center">
                What is Virtual Bookshelf?
            </h2>
            <p class="section-two__text text text-center">
                Virtual Bookshelf is an online space for all your digital books, magazines, brochures and catalogs – all under one address. It allows your readers to easily access and browse your publications, creating an impression of a real-life library.
            </p>
            <picture>
                <source srcset="assets/images/so-21.webp" type="image/webp">
                <source srcset="assets/images/so-21.jpg" type="image/jpeg">
                <img class="image" src="assets/images/so-21.jpg" alt="What is Virtual Bookshelf image" loading="lazy">
            </picture>
            <h2 class="section-two__headline headline text-center">
                Creating virtual bookshelf with Publuu
            </h2>
            <p class="section-two__text section-two__text--additionally text text-center">
                With Publuu you can make virtual bookshelf with access to your flipbook catalogues, magazines, brochures with just few clicks. Share it via link or integrate it with you own site. You don’t need any coding skills to make your own branded virtual bookshelf today.
            </p>
            <div class="text-center">
                <a href="#" class="btn btn-primary" aria-label="Create your virtual bookshelf now">
                    Create Virtual Bookshelf Now
                </a>
            </div>
        </div>
    </div>
</div>
