<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h2 class="section-five__headline headline text-center">
                Virtual Bookshelf examples
            </h2>
            <p class="offset-lg-2 justify-content-center col-lg-8 section-five__text text text-center">
                Publuu - online bookshelf creator is being used by more and more publishing businesses around the world. Join them and share your book collection with the best possible way.
            </p>
            <div class="section-five__wrapper row d-lg-flex align-items-lg-center justify-content-lg-between">
                <div class="col-12 col-lg-6 text-center">
                    <picture>
                        <source srcset="assets/images/so-59.webp" type="image/webp">
                        <source srcset="assets/images/so-59.jpg" type="image/jpg">
                        <img class="section-five__image" src="assets/images/so-59.jpg" alt="Virtual Bookshelf examples image" loading="lazy">
                    </picture>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <picture>
                        <source srcset="assets/images/so-51.webp" type="image/webp">
                        <source srcset="assets/images/so-51.jpg" type="image/jpg">
                        <img class="section-five__image" src="assets/images/so-51.jpg" alt="Virtual Bookshelf examples image" loading="lazy">
                    </picture>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-primary" aria-label="Create your virtual bookshelf now">
                    Create My Own Virtual Bookshelf
                </a>
            </div>
        </div>
    </div>
</div>


