<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h2 class="section-three__headline headline">
                Virtual Bookshelf
                Features
            </h2>
        </div>

        <div class="section-three__row row d-lg-flex align-items-lg-center justify-content-lg-between">
            <div class="section-three__text-wrap col-12 col-lg-6 order-2 order-lg-1">
                <h3 class="section-three__title">
                    Enjoy Reading On Any Device
                </h3>
                <p class="section-three__text text">
                    Your book collection clearly arranged in one central location - your virtual bookshelf. All of your clients and readers will have a good overview and easily find what they are looking for. Desktops, tablets and smartphones – your digital bookshelf fits to every screen automatically.
                </p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-lg-flex justify-content-lg-end p-lg-0">
                <picture>
                    <source srcset="assets/images/so-34.webp" type="image/webp">
                    <source srcset="assets/images/so-34.png" type="image/png">
                    <img class="image" src="assets/images/so-34.png" alt="Enjoy Reading On Any Device image" loading="lazy">
                </picture>
            </div>
        </div>

        <div class="section-three__row row d-lg-flex align-items-lg-center justify-content-lg-between">
            <div class="section-three__text-wrap col-12 col-lg-6 order-2 order-lg-2">
                <h3 class="section-three__title">
                    Customize your library
                </h3>
                <p class="section-three__text text">
                    Personalize your Virtual Bookshelf with simple to use online creator. Select colors, backgrounds, upload your logotype and see how it all look in real-time. Create an appealing digital library for your readers without coding today.
                </p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-1 d-lg-flex justify-content-lg-end p-lg-0">
                <picture>
                    <source srcset="assets/images/so-38.webp" type="image/webp">
                    <source srcset="assets/images/so-38.png" type="image/png">
                    <img class="image" src="assets/images/so-38.png" alt="Customize your library image" loading="lazy">
                </picture>
            </div>
        </div>

        <div class="section-three__row row d-lg-flex align-items-lg-center justify-content-lg-between">
            <div class="section-three__text-wrap col-12 col-lg-6 order-2 order-lg-1">
                <h3 class="section-three__title">
                    Interactive Hotspots
                </h3>
                <p class="section-three__text text">
                    Attract your reader's attention. Enrich your books with interactive elements, that can activate photo galleries, videos or active links inside your e-books.
                </p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-lg-flex justify-content-lg-end p-lg-0">
                <picture>
                    <source srcset="assets/images/so-36.webp" type="image/webp">
                    <source srcset="assets/images/so-36.png" type="image/png">
                    <img class="image" src="assets/images/so-36.png" alt="Interactive Hotspots image" loading="lazy">
                </picture>
            </div>
        </div>

        <div class="section-three__row row d-lg-flex align-items-lg-center justify-content-lg-between">
            <div class="section-three__text-wrap col-12 col-lg-6 order-2 order-lg-2">
                <h3 class="section-three__title">
                    More Income From Advertisers
                </h3>
                <p class="section-three__text text">
                    Add direct links to your clients products inside your books and raise your ad rates. You may also offer advertising space in your Virtual Bookshelf to generate additional revenue. See statistics on your books and bookshelf itself.
                </p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-1 d-lg-flex justify-content-lg-end p-lg-0">
                <picture>
                    <source srcset="assets/images/so-37.webp" type="image/webp">
                    <source srcset="assets/images/so-37.png" type="image/png">
                    <img class="image" src="assets/images/so-37.png" alt="Customize your library image" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</div>
