<div class="container">
    <div class="blur-overlay"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7 z-1">
            <h2 class="section-four__headline headline text-center">
                How do I Create
                a Virtual Bookshelf?
            </h2>
            <div class="section-four__row row d-lg-flex align-items-lg-center justify-content-lg-between">
                <div class="section-four__text-wrap col-12 col-lg-6 order-2 order-lg-2">
                    <h4 class="section-four__title">
                        1. Upload your books (in PDF format)
                    </h4>
                    <p class="section-four__text text">
                        Upload your publications to Publuu with just a few clicks. You can upload up to 3 books at the
                        same time, so your collection will grow in no time. </p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-1 d-lg-flex justify-content-lg-start p-0">
                    <div class="section-four__wrapper">
                        <div class="section-four__image-wrap">
                            <span class="section-four__image-number">
                                1
                            </span>
                            <img class="section-four__icon" src="assets/images/so-41.svg" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-four__row row d-lg-flex align-items-lg-center justify-content-lg-between">
                <div class="section-four__text-wrap col-12 col-lg-6 order-2 order-lg-1">
                    <h4 class="section-four__title">
                        2. Customize your Bookshelf
                    </h4>
                    <p class="section-four__text text">Use our editor tool to create your dream library. Upload your
                        background, logotype and banner ad. Customize your text, icons and see how your bookshelf looks
                        in real-time.</p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-2 d-lg-flex justify-content-lg-end p-0">
                    <div class="section-four__wrapper">
                        <div class="section-four__image-wrap">
                            <span class="section-four__image-number">
                                2
                            </span>
                            <img class="section-four__icon" src="assets/images/so-42.svg" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-four__row row d-lg-flex align-items-lg-center justify-content-lg-between">
                <div class="section-four__text-wrap col-12 col-lg-6 order-2 order-lg-2">
                    <h4 class="section-four__title">
                        3. Publish it
                    </h4>
                    <p class="section-four__text text">
                        Once you will be happy with your design, just click LINK and publish it. Now you can share it
                        with everyone you want through the customizable link or social-media. </p>
                </div>
                <div class="col-12 col-lg-6 order-1 order-lg-1 d-lg-flex justify-content-lg-start p-0">
                    <div class="section-four__wrapper">
                        <div class="section-four__image-wrap">
                            <span class="section-four__image-number">
                                3
                            </span>
                            <img class="section-four__icon" src="assets/images/so-43.svg" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>