<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h4 class="section-six__headline text-center">
                Leadership awards
            </h4>

            <div class="">
                <ul class="section-six__list">
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-636.webp" type="image/webp">
                            <source srcset="assets/images/so-636.png" type="image/png">
                            <img class="section-six__item-img" src="assets/images/so-636.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-631.webp" type="image/webp">
                            <source srcset="assets/images/so-631.png" type="image/png">
                            <img class="section-six__item-img" src="assets/images/so-631.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-632.webp" type="image/webp">
                            <source srcset="assets/images/so-632.png" type="image/png">
                            <img class="section-six__item-img" src="assets/images/so-632.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-626.webp" type="image/webp">
                            <source srcset="assets/images/so-626.png" type="image/png">
                            <img class="section-six__item-img section-six__item-img--active"
                                src="assets/images/so-626.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-627.webp" type="image/webp">
                            <source srcset="assets/images/so-627.png" type="image/png">
                            <img class="section-six__item-img" src="assets/images/so-627.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-628.webp" type="image/webp">
                            <source srcset="assets/images/so-628.png" type="image/png">
                            <img class="section-six__item-img" src="assets/images/so-628.png" alt="" loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item">
                        <picture>
                            <source srcset="assets/images/so-633.webp" type="image/webp">
                            <source srcset="assets/images/so-633.png" type="image/png">
                            <img class="section-six__item-img section-six__item-img--active"
                                src="assets/images/so-633.png" alt="" loading="lazy">
                        </picture>
                    </li>
                </ul>
            </div>



            <div class="">
                <ul class="section-six__list-secondary">
                    <li class="section-six__item-secondary">
                        <picture>
                            <source srcset="assets/images/so-611.webp" type="image/webp">
                            <source srcset="assets/images/so-611.png" type="image/png">
                            <img class="section-six__item-secondary-img" src="assets/images/so-611.png" alt=""
                                loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item-secondary">
                        <picture>
                            <source srcset="assets/images/so-612.webp" type="image/webp">
                            <source srcset="assets/images/so-612.png" type="image/png">
                            <img class="section-six__item-secondary-img" src="assets/images/so-612.png" alt=""
                                loading="lazy">
                        </picture>
                    </li>
                    <li class="section-six__item-secondary">
                        <picture>
                            <source srcset="assets/images/so-613.webp" type="image/webp">
                            <source srcset="assets/images/so-613.png" type="image/png">
                            <img class="section-six__item-secondary-img" src="assets/images/so-613.png" alt=""
                                loading="lazy">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>