.section-check {
  margin-top: rem-calc(40);
  background: linear-gradient(0deg, #F1FAFF 0%, #FFFFFF 100%);
  padding-bottom: rem-calc(60);

  @media only screen and (min-width: 62rem) {
    padding-bottom: rem-calc(120);
  }

  &__row {
    margin-bottom: rem-calc(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-weight: 800;
    font-size: rem-calc(17);
    line-height: 1.4;
    margin-bottom: rem-calc(5);
  }

  &__author {
    font-size: rem-calc(14);
    line-height: 1.7;
    font-weight: 700;
    margin-bottom: rem-calc(40);

    &--signature {
      font-weight: 500;

    }
  }

  &__right,
  &__wrapper {
    @media only screen and (min-width: 87.5rem) {
      width: rem-calc(550);
    }
  }

  &__wrapper {
    margin-top: rem-calc(40);
    border-radius: rem-calc(5);
    background-color: $white;
    padding: rem-calc(45 40);

    @media only screen and (min-width: 62rem) {
      margin-top: 0;
    }
  }

  &__image {
    padding: rem-calc(10);
    width: 100%;

    @media only screen and (min-width: 62rem) {
      padding: 0 rem-calc(5);

      &__image:first-child {
        padding-left: rem-calc(16);
      }

      &__image:last-child {
        padding-right: rem-calc(16);
      }
    }
  }
}